<a href="https://colab.research.google.com/github/objectis/ai-fraud-detection/blob/master/week3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

This is a project for credit card fraud detection using logistic regression model with Scikit-learn.

1. Import necessary libs

In [0]:
import numpy as np
import sklearn as sk
import pandas as pd
import seaborn

2. reading data

In [10]:
ti=pd.read_csv('sample_data/test_transaction.csv',low_memory=False)
ti=ti.sample(n=6).reset_index(drop=True)
ti.head()

   TransactionID  TransactionDT  TransactionAmt  ... V337  V338  V339
0        3698846       19591518          45.003  ...  NaN   NaN   NaN
1        3726795       20553776          13.403  ...  NaN   NaN   NaN
2        3792741       22857808          25.000  ...  0.0  50.0  50.0
3        3763623       21759867         107.000  ...  NaN   NaN   NaN
4        3675459       18797339          39.000  ...  NaN   NaN   NaN

[5 rows x 393 columns]