<a href="https://colab.research.google.com/github/objectis/ai-fraud-detection/blob/master/week3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

This is a project for credit card fraud detection using logistic regression model with Scikit-learn.

1. Import necessary libs

In [0]:
import numpy as np
import sklearn as sk
import pandas as pd
import seaborn

2. reading data

In [13]:
ti=pd.read_csv('sample_data/train_identity.csv',low_memory=False)
tt=pd.read_csv('sample_data/train_transaction.csv',low_memory=False)
ti=ti.sample(n=6).reset_index(drop=True)
tt=tt.sample(n=6).reset_index(drop=True)
ti.head()

   TransactionID  id_01  ...  DeviceType                       DeviceInfo
0        3331904   -5.0  ...     desktop                          Windows
1        3279508   -5.0  ...     desktop                              NaN
2        3375425   -5.0  ...      mobile            SM-J700M Build/MMB29K
3        3033430   -5.0  ...     desktop                              NaN
4        3116778   -5.0  ...      mobile  Moto X Play Build/NPD26.48-24-1

[5 rows x 41 columns]

In [14]:
tt.head()

   TransactionID  isFraud  TransactionDT  ...  V337 V338  V339
0        3014907        0         696251  ...   NaN  NaN   NaN
1        3114044        0        2512955  ...   0.0  0.0   0.0
2        3062652        0        1650268  ...   0.0  0.0   0.0
3        3065504        0        1710361  ...   0.0  0.0   0.0
4        2997065        0         314493  ...   NaN  NaN   NaN

[5 rows x 394 columns]

3. displaying the data